<!DOCTYPE html>
<html>
  <head>
    <title>Calibration City</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  </head>
  <body>
    <div class="container">
      <section class="hero is-link">
        <div class="hero-body">
          <p class="title">Calibration City</p>
          <p class="subtitle">An independent analysis of prediction market accuracy</p>
        </div>
      </section>
      <section class="section is-small">
        <article class="message is-link">
          <div class="message-body">
            This site has been rewritten! You can find version 2.0 at
            <a href="https://calibration.city">https://calibration.city</a>
          </div>
        </article>
      </section>
      <section class="section is-medium">
        <div class="columns is-centered">
          <div class="column is-3">
            <a href="manifold">
              <div class="box has-text-centered has-text-link">
                <p>Manifold Markets</p>
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>Calibration City made with ♡ by <a href="https://wasabipesto.com">wasabipesto</a>.</p>
      </div>
    </footer>
  </body>
</html>
