<!DOCTYPE html>
<html>
<head>
    <title>Manifold Calibration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <div class="container">
        <div id="graph"></div>
        <br />
        <form id="options_form">
            <h3>Calculation Types</h3>
            <div class="field">
                <label class="label" for="xbin_modifier">X-Axis Bin Method</label>
                <div class="control">
                    <select name="xbin_modifier" id="xbin_modifier">
                        <option value="prob_at_close">Probability at Close</option>
                        <option value="prob_at_midpoint">Probability at Midpoint</option>
                        <option value="prob_time_weighted">Time-Weighted Probability</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label class="label" for="xbin_size">X-Axis Bin Size</label>
                <div class="control">
                    <select name="xbin_size" id="xbin_size">
                        <option value="0.005">0.5%</option>
                        <option value="0.010">1.0%</option>
                        <option value="0.025">2.5%</option>
                        <option value="0.050">5.0%</option>
                        <option value="0.075">7.5%</option>
                        <option value="0.100">10%</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label class="label" for="ybin_modifier">Y-Axis Bin Weighting</label>
                <div class="control">
                    <select name="ybin_modifier" id="ybin_modifier">
                        <option value="weight_none">No Weighting</option>
                        <option value="weight_by_volume">Weight by Volume</option>
                        <option value="weight_by_payout">Weight by Payout</option>
                        <option value="weight_by_traders">Weight by Traders</option>
                    </select>
                </div>
            </div>
            <h3>Market Filters</h3>
            <div class="field">
                <label class="label" for="min_volume">Minimum Volume</label>
                <div class="control">
                    <input type="number" name="min_volume" id="min_volume"> M$
                </div>
            </div>
            <div class="field">
                <label class="label" for="min_open_days">Minimum Open Duration</label>
                <div class="control">
                    <input type="number" name="min_open_days" id="min_open_days"> days
                </div>
            </div>
            <div class="field">
                <label class="label" for="creator_username">Creator Username</label>
                <div class="control">
                    <input type="text" name="creator_username" id="creator_username">
                </div>
            </div>
            <div class="field">
                <label class="label" for="date_created">Date Created</label>
                <div class="control">
                    <input type="date" name="date_created" id="date_created">
                </div>
            </div>
            <div class="control">
                <button type="submit">Apply</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        document.getElementById('options_form').addEventListener('submit', function(event) {
            event.preventDefault();
            // Send AJAX request to the backend
            fetch('/manifold/get_data', {
                method: 'POST',
                body: new URLSearchParams({
                    'trigger': 'user_submit',
                    'xbin_modifier': document.getElementById('xbin_modifier').value,
                    'ybin_modifier': document.getElementById('ybin_modifier').value,
                    'min_volume': document.getElementById('min_volume').value,
                    'min_open_days': document.getElementById('min_open_days').value,
                })
            })
            .then(response => response.json())
            .then(data => {
                updateGraph(data)
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            fetch('/manifold/get_data', {
                method: 'POST',
                body: new URLSearchParams({
                    'trigger': 'pageload',
                })
            })
            .then(response => response.json())
            .then(data => {
                updateGraph(data)
            });
        });

        function updateGraph(data) {
            // Use Plotly to create and update the graph
            var traces = [
                {
                    x: data.x,
                    y: data.y,
                    name: 'Actual Calibration',
                    type: 'scatter',
                    mode: 'markers',
                    marker: {
                        color: 'rgb(227, 119, 194)',
                        size: 10,
                    },
                },{
                    x: [0, 1],
                    y: [0, 1],
                    name: 'Perfect Calibration',
                    type: 'lines',
                    mode: 'line',
                    line: {
                    color: 'rgb(127, 127, 127)',
                    width: 1,
                    },
                }
            ];
            var layout = {
                title: 'Calibration Plot',
                xaxis: {
                    title: 'Probability at Close',
                    range: [0, 1],
                    tickformat: ',.0%',
                },
                yaxis: {
                    title: 'Average Resolution',
                    range: [0, 1],
                    tickformat: ',.0%',
                },
                height: 500,
                margin: { l: 60, r: 40, t: 60, b: 40 },
                showlegend: false,
            };
            const config = { responsive: true }
            Plotly.newPlot('graph', traces, layout, config);
        }
    </script>
</body>
</html>